
#mapid { height: 600px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 30px;

 }

#thumb {
  width: 40;
  height: 40;
}
#myChart {
  width: 100% !important;
  height: 300px !important;
}

#content {
	width: 85%
	margin: auto;
}

.leaflet-popup-content { width:auto !important; }
